window.ssd headerbar.titlebar,
.default-decoration,
.default-decoration .titlebutton,
headerbar, headerbar:backdrop,
decoration, decoration:backdrop,
menubar, menubar:backdrop,
menu, menu:backdrop,
window, window:backdrop{
    background: white;
    color: black;
}

decoration, decoration:backdrop {
    border: 1px solid black;
}

