decoration, decoration:backdrop,
headerbar, headerbar:backdrop,
menu, menu:backdrop,
window.ssd headerbar.titlebar,
.default-decoration,
.default-decoration .titlebutton,
* {
    border-radius: 0px;
    box-shadow: none;
}
button, entry{
    min-height: 0px;
    border-radius: 0px;
    margin: 3px;
    padding: 3px;
}
