headerbar {
    min-height: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border:none;
    background: none;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 0px;
    margin-bottom: 0px;
    background: none;
}

.default-decoration,
.default-decoration .titlebutton,
window.ssd headerbar.titlebar {
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    background: none;
    min-height: 0;
}
